body {
  background: papayawhip;
  height: 100%;
  max-height: 964px;
}

.container {
  display: block, flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-height: 100vh;
} 

.cde {
  display: flex;
  max-width: 60vh;
  padding: 1rem;
}

.a {
  background-color: red;
  height: 15%;
  border: 5px black;
  margin: 0;
  padding: 5rem;
  max-width: 100vh;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.b {
  background-color: aqua;
  height: 200px;  
  margin: 0;
  padding: 5rem;
  max-width: 60vh;
  flex-grow: 4;
  padding: 1rem;
}

.c {
  background-color: blueviolet;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
  padding: 1rem;
}

.d {
  background-color: orange;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
  padding: 1rem;
}

.e {
  background-color: green;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
  padding: 1rem;
}

.f {
  display: flex;
  background-color: black;
  height: 15%;
  margin: 0;
  padding: 5rem;
  flex-grow: 2;
  width: 60vh;
  padding: 1rem;
}

@media (min-width: 600px) {
  .bcdef {
    display: flex;
    flex-direction: row;
  }
  .cde {
    display: flex;
  }
  .f {
    max-width: 60%;
    height: auto;
  }
  .a, .b, .c, .d, .e {
    height: 200px;
  }
}   
