body {
  background: papayawhip;
  height: 100%;
  max-height: 964px;
}

.container {
  display: block, flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  min-height: 100vh;
} 

.middle-row {
  display: flex;
  justify-content: center;
  width: auto;
}

.a {
  background-color: red;
  height: 15%;
  border: 5px black;
  margin: 0;
  padding: 5rem;
  max-width: 100%;
  flex-grow: 5;
  display: flex;
  justify-content: center;
}

.b {
  background-color: aqua;
  height: 200px;  
  margin: 0;
  padding: 5rem;
  max-width: 100%;
  display: flex; 
  flex-grow: 4;
}

.c {
  background-color: blueviolet;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
}

.d {
  background-color: orange;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
}

.e {
  background-color: green;
  height: 15%;
  margin: 0;
  padding: 5rem;
  max-width: 20%;
  flex-grow: 1;
}

.f {
  display: flex;
  background-color: black;
  height: 15%;
  margin: 0;
  padding: 5rem;
  flex-grow: 2;
}

@media (min-width: 600px) {
  .b {
    max-width: 60%;
  }
  .middle-row {
    max-width: 60%;
  }
  .f {
    max-width: 60%;
    flex-wrap: wrap;
  }
}   
